.card{
  float: left;
  margin: 20px;
}
button:hover {
  box-shadow: 0 0 20px rgba(4, 117, 38, 0.932); 
}
button{
  margin-left: 15px;
}
select{
    margin-left: 20px;
}
.dropdown-item:hover{
    box-shadow: 0 0 20px rgba(4, 117, 38, 0.932);  
}
.dropdown{
    margin: 20px; 
}

