<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--navbar-->
    <section id="navView">
        <script type="text/template" id="nav-view">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"
            style="background-color:#346cb0;color: hsla(0,0%,100%,.8)">
            <h2 style="color:black">BookLibrary</h2>&nbsp;&nbsp;
            <button class="btn btn-outline-success my-2 my-sm-0 addBook" type="submit" id="add-new-book">AddNewBook</button>
        </nav>
        </script>
    </section>
    <!--navbar-->
    <!--Book-->
    <section>
        <div class="container row" id="books-container">
        </div>
        <script type="text/template" id="card-view">
            <div>
                <h3 class="name"><%= book.bookName%></h3>
                <h5 class="author"><%= book.bookAuthor%></h5>
                <p class="type"><%= book.bookType%></p>
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit" id="remove-book">RemoveBook</button>
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit" id="edit-book">EditBook</button>
            </div>
        </script>

        <script type="text/template" id="book-list">
            
        </script>

        <script type="text/template" id="add-book">
            <form>
                 <div class="form-group ">
                        <label for="BookName">BookName</label>
                        <input type="text" class="form-control" id="BookName" value= "">
                    </div>
                    <div class="form-group ">
                        <label for="BookAuthor">BookAuthor</label>
                        <input type="text" class="form-control" id="BookAuthor" value="">
                    </div>
                    <div class="form-group ">
                        <label for="BookType">BookType</label>
                        <input type="text" class="form-control" id="BookType"  value="" >
                    </div>
                    <button type="submit" class="btn btn-primary" id="add-book">AddBook</button>
                    <button type="submit" class="btn btn-primary" id="update-book">UpdateBook</button>
                </form>
    </script>
    </section>

    <!--Book-->












    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
    <script src="app.js"></script>
</body>

</html>